# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test


.metals/*
.vscode/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


#fresh package 
other_runner.conf
tmp/